.dropdown-toggle:hover{
    cursor: pointer;
    opacity: .7;
}
.dropdown-menu:hover{
    cursor: pointer;
}
.btn-login{
    background-color: black;
    border: none;
}
img {
    max-height: 50px;
    display: inline;
    border-radius: 50%;
}
.dangnhap:hover{
    background-color: #333;
}